/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

b{
    font-family: "Futura New Demi", sans-serif;
    
}
p{
    font-family: "Futura New Book", sans-serif;
    font-size: 22px;

}
.mb-2{
    margin-bottom: 20px;
}
.mb-1{
    margin-bottom: 10px;
}
section{
    max-width: 1560px;
    min-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.contact_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
}
.contact_content>div{
    max-width: 500px;
    width: 33%;
    padding-left: 100px;
    position: relative;
    font-size: 22px;
    line-height: 28px;
}

.contact_content>div:first-child::before{
    content: '';
    background-image: url('/src/img/phone.png');
    width: 54px;
    height: 56px;
    position: absolute;
    left: 10px;
}
.contact_content>div:nth-child(2)::before{
    content: '';
    background-image: url('/src/img/callPerson.png');
    width: 48px;
    height: 60px;
    position: absolute;
    left: 10px;
}
.contact_content>div:nth-child(3)::before{
    content: '';
    background-image: url('/src/img/mail.png');
    width: 50px;
    height: 46px;
    position: absolute;
    left: 10px;
}

.banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    height: 270px;
    max-width: 1500px;
    border-radius: 10px;
    margin: 70px auto;
    -webkit-box-shadow: 0px 5px 10px #bfcbd8;
            box-shadow: 0px 5px 10px #bfcbd8;
}
.banner>div>img:first-child{
margin: 0 30px;
}
.social{
    max-width: 300px;
    margin: 0 auto;
}
.social a img:hover{
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transition: .5s;
    transition: .5s;
}

.form_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
}
.form_wrap>form, .form_wrap>div{
    width: 50%;
}
.form_wrap input:not([type="submit"]), .form_wrap textarea{
    border-radius: 5px;
    background-color: #fff;
    border: none;
    padding: 30px;
    -webkit-box-shadow: 0px 5px 10px #dce2eb;
            box-shadow: 0px 5px 10px #dce2eb;
    margin-bottom: 10px;
    max-width: 900px;
    font-family: "Futura New Book", sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.form_wrap input:not([type="submit"]){
    width: calc(50% - 97px);
}
.form_wrap form div:first-child input{
    width: calc(100% - 130px);
}
.form_wrap textarea{
    resize: none;
    width: calc(100% - 70px);
    height: 300px;
}
div.desk_form p{
    font-family: 'Futura New Book', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #323b49;
    margin-bottom: 20px;
}
.desk_form input{
    font-family: 'Futura New Bold', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    line-height: 9px;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 20px;
    background-color: #a10043;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.desk_form input:hover{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }