input,
label,
select,
button {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-family: "Futura New Book", sans-serif; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/

/* Selects
-----------------------------------------------*/

fieldset {
  outline: none;
  border: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0 auto; }

body {
  box-sizing: border-box;
background-color: #fbfcff; }

a {
  text-decoration: none;
  color: #000; }

/* mini reset */
.nav,
.nav a,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0; }

.nav a {
  text-decoration: none; }

.nav li {
  list-style: none; }

* {
  outline: none; }

body {
  font-family: "Futura New Book", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #000;
  padding: 0px;
  box-sizing: border-box; }

img {
  border: none; }

.pr-10 {
  padding-right: 10rem !important; }

ul li {
  list-style: none; }

  
.container{
    max-width: 1980px;
    min-width: 320px;
    width: 100%;
    padding: 0 5%;
  }
.header__top span.desc {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  font-weight: bold; }
  .header__top span.desc:not(:last-child) {
    margin-right: 6.5rem; }

  
.detail-description {
  line-height: 1.2; }

.layout-box--title {
  font-size: 60px;
  color: white;
  line-height: 1; }

.pink-light {
  color: #af0052 !important; }

.desc__detail .detail-description {
  color: #fff;
  margin-top: 25px;
  font-size: 22px; }

.section__form input {
  color: #5e5e5e;
  padding: 5% 0;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 0.7%;
  font-size: 16px;
  padding-left: 3%; }
 
.service_single--title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2; }

.component--name {
  font-family: "Futura New Havy", sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px; }

.cp__nav-tags--link.article a.cp-direction-link:hover {
  color: #000;
  background: white;
  border-color: #000; }

.btn {
  line-height: 1.5;
  background-color: #af0052;
  font-size: 16px;
  font-weight: bold;
  color: #fff; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative; }
  .btn:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .2s; }

.btn-to-action {
  padding: 10px 55px !important;
  text-transform: none !important;
  font-size: 18px !important;
  background: #a10043; }

button.btn-to-action {
  position: relative;
  border-radius: 24px;
  margin: 20px 0;
  cursor: pointer; }

.nav {
  cursor: default;
  display: inline-block;
  z-index: 500;
  margin: 0 auto; }

/* menu list */
.nav > li {
  float: left; }

/* menu links */
.nav > li > a {
  color: #000;
  display: block;
  font-weight: bold;
  position: relative;
  transition: all .3s ease;
  z-index: 510;
  padding: 20px 60px 20px 0;
  text-transform: uppercase; }

.mega-menu-content {
  max-width: 1560px;
  min-width: 1100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px; }
  .mega-menu-content:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 17%;
    z-index: 2;
    background: #d8d8d8; }

/* menu dropdown */
.mega-menu {
  background: #f1f1f1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  width: 100%;
  left: 0;
  z-index: 2; }

li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible; }

/* menu content */
.nav-column:not(:first-child) a {
  text-decoration: underline; }

.nav-column:first-child {
  padding-left: 20px;
  width: 17%;
  margin-right: 6%;
  position: relative; }

.nav-column {
  float: left;
  padding-right: 2.5%;
  width: 25%; }

.nav-column a {
  color: #343d46;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  font-size: 16px;
  padding-bottom: 10px; }

.nav-column a:hover {
  color: #af0052; }

.nav-column h3 {
  font-family: sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.15;
  margin: 30px 0 30px 0;
  text-transform: uppercase; }
    .select > input:not(:checked) {
      z-index: 4; }
      .select > input:not(:checked) ~ label.option > span.title {
        display: none; }
      .select > input:not(:checked) ~ i.toggle.icon-arrow-up {
        display: none; }
      .select > input:not(:checked) ~ i.toggle.icon-arrow-down {
        display: block; }

.select2 {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  width: 90px;
  height: 100%;
  font-size: 12px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
  border: 1px solid silver;
  border-radius: 25px;
  background: url(../img/icon_arrow_up.png) no-repeat;
  background-position: 86% 60%; }
  .select2 label {
    float: left; }
  .select2 i.toggle {
    position: absolute;
    z-index: 4;
    right: 1.5em;
    top: 1.6em;
    color: #ccc; }
  .select2 .title,
  .select2 .placeholder {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5em 2em;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 10px;
    text-align: center; }
  .select2 > label > input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    cursor: pointer; }
    .select2 > label > input:not(:checked) {
      z-index: 4; }
      .select2 > label > input:not(:checked) ~ label.option > span.title {
        display: none; }
      .select2 > label > input:not(:checked) ~ i.toggle.icon-arrow-up {
        display: none; }
      .select2 > label > input:not(:checked) ~ i.toggle.icon-arrow-down {
        display: block; }
    .select2 > label > input:disabled {
      cursor: no-drop; }
  .select2 label > span.placeholder {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    color: #999;
    border-top: 0px; }
  .select2 label.option {
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    transition: all 1s ease-out; }
    .select2 label.option span.title {
      position: relative;
      z-index: 2;
      transition: background .3s ease-out; }
      .select2 label.option span.title:hover {
        color: #fff;
        background: rgba(146, 168, 209, 0.5);
        box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1); }
    .select2 label.option input {
      display: none; }
      .select2 label.option input:checked ~ span.title {
        position: absolute;
        display: block;
        z-index: 1;
        top: 0px;
        font-size: 12px;
        background: #fff;
        border-top: 0px;
        box-shadow: none;
        color: inherit;
        width: 100%; }
      .select2 label.option input:disabled ~ span.title {
        background: #f9f9f9 !important;
        color: #aaa; }
        .select2 label.option input:disabled ~ span.title:hover {
          color: #aaa;
          background: none;
          cursor: no-drop; }

.util-medium-mb {
  margin-bottom: 100px !important; }

.util-large-mt {
  margin-top: 200px !important; }

.util-bg-white {
  background: #fff; }

.util-gradient-pink {
  background: #9f0144;
  background: linear-gradient(153deg, #9f0144 0%, #701e5d 63%, #453875 100%); }

.cp-breadcrumb--nav {
  display: block;
  position: relative; }
  .cp-breadcrumb--nav .cp-breadcrumb-item {
    display: inline-block;
    color: #ffffff; }
    .cp-breadcrumb--nav .cp-breadcrumb-item a {
      color: #fff; }
  .cp-breadcrumb--nav .cp-breadcrumb-item:not(:first-child) {
    padding-left: 0px; }
  .cp-breadcrumb--nav .cp-breadcrumb-item:not(:last-child) {
    background: url(../img/icon-right.png) no-repeat 100% 50%;
    padding-right: 10px; }

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.cp__banner {
  box-shadow: 2px 5px 10px #cddee6;
  border-radius: 4px;
  margin-bottom: 45px; }

.banner-block--sidebar {
  position: relative;
  overflow: hidden;
  height: 590px; }
  .banner-block--sidebar img {
    width: 100%;
    height: 590px; }

.cp__nav-direction--link {
  padding-left: 10px; }
  .cp__nav-direction--link h3 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    font-family: sans-serif; }
  .cp__nav-direction--link a.cp-direction-link {
    line-height: 1.1;
    text-decoration: underline;
    padding-bottom: 20px;
    display: inline-block;
    color: #343d46;
    font-weight: 800;
    font-size: 16px; }

.cp__nav-tags--link {
  padding-left: 10px; }
  .cp__nav-tags--link h3 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    font-family: sans-serif; }
  .cp__nav-tags--link a.cp-direction-link {
    color: #a6a6a8;
    line-height: 1.1;
    padding: 5px;
    border: 2px solid #a6a6a8;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block; }
  .cp__nav-tags--link a.cp-direction-link:hover {
    color: white;
    background: #af0052;
    border: 2px solid #af0052; }
  .cp__nav-tags--link .cp-link-item {
    margin-bottom: 6px; }

.cp__nav-direction--service {
  position: relative;
  box-shadow: 2px 5px 10px #cddee6;
  padding-top: 40px;
  margin-bottom: 45px;
  border-radius: 4px; }
  .cp__nav-direction--service h3 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 30px; }
  .cp__nav-direction--service h3.option-list {
    color: #fff; }
  .cp__nav-direction--service .cp-detail-block--direction {
    display: block; }
  .cp__nav-direction--service .cp-direction-item {
    display: block; }
  .cp__nav-direction--service .cp-direction-item:last-child a {
    padding-bottom: 30px; }
  .cp__nav-direction--service .option-direction .cp-direction-item:not(:last-child) {
    border-bottom: 1px solid #f2f2f270; }
  .cp__nav-direction--service .icon-direction--service {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    width: 48px; }
    .cp__nav-direction--service .icon-direction--service img {
      width: 100%; }
  .cp__nav-direction--service a.cp-direction-link {
    color: #343d46;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .2s;
    line-height: 1.3; }
  .cp__nav-direction--service a.cp-direction-link:hover {
    background: transparent;
    color: #fff; }
  .cp__nav-direction--service a.cp-direction-link--option {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .2s;
    line-height: 1.3; }
  .cp__nav-direction--service a.cp-direction-link--option:hover {
    background: #fff;
    color: #000; }

.header {
  position: relative; }
  .header:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: silver;
    left: 0;
    top: 50%;
    z-index: 2; }
  .header__top {
    padding-bottom: 15px; }
  .header__top, .header__bottom {
    max-width: 1560px;
    min-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
    .header__top::after, .header__bottom::after {
      content: "";
      display: table;
      clear: both; }
  .header .pull-left {
    display: inline-block;
    float: left; }
  .header .logo-desc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px; }
    .header .logo-desc p {
      padding-top: 12px; }
    .header .logo-desc {
      text-transform: uppercase; }
  .header .logo-block {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .header__logo-box {
    position: absolute;
    left: 46%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__logo-box img {
      border: none; }
  .header__logo {
    height: 60px; }
  .header .pull-right {
    display: inline-block;
    float: right;
    vertical-align: middle; }
    .header .pull-right .header__lang {
      display: inline-block;
      width: 130px;
      margin-right: 15px;
      text-align: right;
      position: relative; }
    .header .pull-right .header__contact {
      display: inline-block; }
  .header .phone-company {
    line-height: 67px;
    height: 67px;
    display: inline-block;
    background: url(../img/icon_phone.png) no-repeat 0 50%;
    padding-left: 25px;
    margin-left: 15px; }

.aside {
  max-width: 156rem;
  min-width: 110rem;
  position: relative;
  overflow: hidden; }
  .aside aside.aside-block {
    width: 21%;
    display: inline-block;
    position: relative;
    margin-right: 3%;
    float: left; }
  
  .listOfBenefits{
    background-image: url('/src/img/listOfBenefits.jpg');
    height: 280px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 70px;
  }
  .listOfBenefits ul span{
    color: #36991f;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .listOfBenefits ul span{
    font-size: 22px;
  }
div.main {
  vertical-align: top;
  display: block;
  float: left;
  width: 76%; }

.top__header-service {
  background: #af0052;
  margin-bottom: 50px;
  padding: 20px 0; }
  .top__header-service .top__header--block {
    position: relative; }
    .top__header-service .top__header--block:after {
      content: '';
      position: absolute;
      top: 0;
      left: -125px;
      width: 485px;
      height: 300px;
      background: url(/src/img/top-service-icon.png) no-repeat 0% 0%;
      z-index: 1; }

.top__header--block {
  padding-left: 43rem; }
  .top__header--block h1 {
    color: #ffffff;
    font-size: 66px;
    font-weight: bold; }

.fix-size {
  max-width: 1560px;
  min-width: 1100px;
  margin: 0 auto; }

.section__service-list {
  margin: 0 auto;
  text-align: center; }
.section__clients{
  background: url(../img/bg_cloud.png) repeat-x 53% 0%, linear-gradient(0deg, #e9f3ff 0%, #ebf4ff 10%, #fbfcff00 100%);
  background-size: contain;
}
 .box__service-detail {
  padding: 40px 0;  
  }

.box__service-detail img {
  margin: 0 auto; 
box-shadow: 10px 10px 20px #d0e4ef;   } 

.box__service-detail img:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #ccdfea;
  transition: all .2s; }

.section__form {
  position: relative;
  margin: 0 auto;
  background: #244c87; }
  .section__form:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 110%;
    background: url(../img/bg_section_form.png) no-repeat 100% 0;
    background-size: contain;
    right: 0;
    top: -62px; }
  .section__form-desc {
    position: relative;
    overflow: hidden;
    padding: 180px 0;
    margin: 0 auto; }
    .section__form-desc .desc__detail, .section__form-desc .desc__form {
      float: left;
      width: 50%; }
      .section__form-desc .desc__detail .detail-inner, .section__form-desc .desc__form .detail-inner {
        margin: 0 auto;
        text-align: left;
        width: 100%; }

.section__clients {
  margin: 0 auto;
  line-height: 0; }
  

.section__phone {
  position: relative;
  margin: 0 auto;
background-color: #e4f0fe; }
  .section__phone .section__phone-desc {
    margin: 0 auto;
    text-align: center;
    background: url(../img/phone_bg.png) no-repeat 50% 55%;
    padding-bottom: 200px;
    padding-top: 200px; }
    .section__phone .section__phone-desc .layout-title--pink {
      font-size: 32px;
      padding: 15px 0;
      color: #af0052; }
    .section__phone .section__phone-desc .description {
      color: #636e80;
      font-size: 22px;
      padding-bottom: 15px; }
    .section__phone .section__phone-desc .phone-contact p {
      font-size: 60px;
      color: #636e80; }

.description__service--title {
  position: relative;
  padding: 0 0 60px 0;
  margin-bottom: 40px; }

.description__service--title:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  left: 53%;
  top: 91%;
  background: white;
  transform: rotate(45deg); }

.description__service--title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  top: 98%;
  background: #e7e7e7; }

.description__service--title span{
  font-family: FuturaBlackBT;
  font-size: 104px;
  color: #a10043;
}
.title__component--block {
  margin-bottom: 50px; }

  .layout-title--bl {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.0; }
  
  .layout-title--bl--p {
    font-size: 22px;
    line-height: 1.1;
    padding: 25px 0; }
.quality__assurance .quality-row {
  position: relative;
  overflow: hidden; }
  .quality__assurance .quality-row .quality-item {
    float: left;
    display: inline-block; }
  .quality__assurance .quality-row .quality-image--block {
    width: 30%; }
  .quality__assurance .quality-row .quality-col--icon {
    width: 200px;
    height: 200px;
    background: #f3f7ff;
    margin-left: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 320px; }
    .quality__assurance .quality-row .quality-col--icon img {
      width: 100px;
      height: auto; }
  .quality__assurance .quality-row .quality-col--desc {
    position: relative;
    width: 70%; }
    .quality__assurance .quality-row .quality-col--desc p {
      color: #323b49;
      font-size: 22px;
      line-height: 1.3; }
    .quality__assurance .quality-row .quality-col--desc .row-graph--image {
      padding: 50px 0;
      width: 100%;
      position: relative;
      overflow: hidden; }
      .quality__assurance .quality-row .quality-col--desc .row-graph--image .row-graph--item {
        float: left;
        border-radius: 50%;
        overflow: hidden;
        width: 20%;
        height: auto;
        line-height: 0;
        transition: .2s; }
        .quality__assurance .quality-row .quality-col--desc .row-graph--image .row-graph--item:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
        .quality__assurance .quality-row .quality-col--desc .row-graph--image .row-graph--item a {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer; }
        .quality__assurance .quality-row .quality-col--desc .row-graph--image .row-graph--item img {
          max-width: 100%;
          height: auto; }
      .quality__assurance .quality-row .quality-col--desc .row-graph--image .row-graph--item:not(:last-child) {
        margin-right: 25px; }

.section__clients.service-page {
  background: #fbfcff;
}
footer.section__footer {
  background: #292929;
  margin: 0 auto;
  display: block;
  padding: 100px 5%;
  color: #b7b7b7;
  padding-bottom: 30px; }
  footer.section__footer .section__footer-desc {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 60px; }
  footer.section__footer .column_m-c {
    float: left;
    width: 25%;
    padding-right: 5%; }
  footer.section__footer .column_m-c:not(:first-child) {
    padding-left: 25px; }
  footer.section__footer .column_m-c:last-child a {
    text-decoration: none !important;
    line-height: 2; }
  footer.section__footer .title-nav {
    text-transform: uppercase;
    padding-bottom: 20px; }
  footer.section__footer .section__footer-desc .column_m-c a {
    text-decoration: underline;
    color: #b7b7b7; }
  footer.section__footer .social__footer-info {
    margin-top: 30px; }
    footer.section__footer .social__footer-info span {
      width: 18px;
      height: 18px;
      background: url(../img/social_icon.png) no-repeat;
      display: inline-block;
      margin-right: 30px; }
    footer.section__footer .social__footer-info .soc-twitter {
      background-position: 0 0; }
    footer.section__footer .social__footer-info .soc-fb {
      background-position: 48% 0; }
    footer.section__footer .social__footer-info .soc-ln {
      background-position: 100% 0; }
  footer.section__footer .copyright {
    text-align: center;
    margin: 0 auto; }
